
.homepage, p{
    text-align: center;
    color:white;
    vertical-align: baseline;
}

.homepage h1{
    font-size: 120px;
    margin-bottom: 2rem;
}

.homepage h3{
    font-size: 25px;
}

.recipe-button{
    width: 10rem;
    height: 4rem;
    margin-top: 8rem;
    border: white solid 2px;
}

.recipe-button:hover{
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}